.diary-notes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* Evita que las notas se envuelvan a la siguiente línea */
    overflow-x: auto;
    /* Permite hacer scroll horizontal si las notas no caben en el contenedor */
    gap: 20px;
    /* Espacio entre las notas */
    padding: 20px;
    /* Espacio interno del contenedor */
    
}


@media (max-width: 768px) {
    .diary-notes-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}